.header__search {
    display: none;
}

.header__nav {
    display: none;
}

.main__title {
    font-size: 36px;
    text-align: center;
    margin: 80px auto;
}

.main__contents {
    width: 50%;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
}

.main__item p {
    margin-bottom: 10px;
}

.main__contents input {
    width: 100%;
    height: 60px;
    margin-bottom: 80px;
    font-size: 24px;
}

.register__button {
    width: 100%;
    margin: 0 auto;
}

.register__button button{
    width: 100%;
    height: 66px;
    background-color: #FF5555;
    color: white;
    font-size: 26px;
    border: 2px solid #FF5555;
    border-radius: 5px
}

.main__link {
    text-align: center;
    margin: 20px;
}

.main__link a{
    font-size: 20px;
    text-decoration: none;
    color: #0073CC;
}

.form__error {
    font-size: 16px;
    color: red;
}
